@font-face {
    font-family: 'Greycliff';
    src: url(/Demo_Fonts/Fontspring-DEMO-greycliffcf-light.otf);
} 

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/images/7720186.jpg);
    background-size: auto 1300px;
    background-repeat: repeat;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.top{
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.filter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    position: fixed;
    z-index: 0;
    /* height: 40px; */
    width: 100%;
    background-color: #ffffff;
    top:0px;
    left: 0px;
    /* margin-bottom: 10px; */
    margin-top: 71px;
    align-items:baseline;
    justify-items: center;
    box-shadow: 10px 1px 10px 10px rgba(166, 166, 166, 0.703);
}
.sm-filter{
    padding: 20px 60px;

}
.sm-filter:hover{
    background-color:#cccccc8e ;
}
.navbar {
    z-index: 1;
    position: fixed;
    padding: 20px 0px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.021);
    background-color:  #ffffff;
}

.navbar * {
    /* margin: 8px; */
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: 'Greycliff';
    font-size: 20px;
    border-radius: 5px;
}
.navbar i{
    padding: 20px 5px;
    border: 0.5px solid #cccccc00;
    border-radius: 10px;
}
.navbar a:hover {
    background-color: #ccc;
}
.search {
    display: flex;
    align-items: center;
}
.search i{
    padding: 20px 10px; 
    /* margin-left: -5px; */
    border-radius: 5px;
}
i:hover{

    background-color: #ccc;
}

input[type='search'] {
    padding: 6px;
    border: 0.5px solid #ccc;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    background-color: #cccccc4d;
    font-size: 16px;
    font-family: 'Greycliff';
}

input[type='search']:hover{
    box-shadow:1px 0px 1px 4px rgba(255, 255, 255, 0.192) ;
}

input[type='search']:focus {
    box-shadow: 8px 5px 10px 4px rgba(85, 85, 85, 0.2);
    border: 0.5px solid #ccc;
}

.item-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin: 20px;
    margin-top: 210px;
}

.item {
    background-color: #e2e2e2cc;
    padding: 20px;
    text-align: center;
    border: 0.5px solid #cccccc00;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.item:hover .description{
    bottom: 0;
}

.item img{
    height: 200px;
    width: 350px;
}
.item p{
    z-index: 0;
    text-align: justify;
    font-family: 'Greycliff';
    font-size: 13px;
    line-height: 1.5;
}

.electronics{
    position: relative;
    width: 100%;
    height: 100%;
}

.description{
    position: absolute;
    bottom: -80px; 
    width: 100%;
    background-color: #e2e2e2cc;
    color: #000000;
    transition: 0.2s ease;
}

